<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "cn" }}">

    {%- include head.html -%}

    <body>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
        <script>
            window.onload = function() {
                Particles.init({
                    selector: '.background',
                    color: '#75A5B7',
                    maxParticles: 130,
                    connectParticles: true,
                    responsive: [
                        {
                            breakpoint: 768,
                            options: {
                                maxParticles: 80
                            }
                        },
                        {
                            breakpoint: 375,
                            options: {
                                maxParticles: 50
                            }
                        }
                    ]
                });
            };
        </script> -->

        {%- include header.html -%}

        <!-- <canvas class="background"></canvas> -->
        
        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {{ content }}
            </div>
        </main>

        {%- include footer.html -%}
        <script>
            window.FontAwesomeConfig = {
                searchPseudoElements: true
            }
        </script>
    </body>
</html>